@import "_variables";
@import "_theme-overrides";
@import "page";
@import "post";

body,
h1,
h2,
h3,
h4 {
  color: var(--primary-text-color) !important;
}

#footer-logo {
  /* Blue logo with ISRG spelled out */
  margin-bottom: 5px;
  max-width: 100%;
  /* White logo *
  max-width: 300px;
  max-height: 55px;
  // width: 100%;
  */
}

.btn-large {
  font-size: 18px;
}

.logo-container {
  width: 200px;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// @media screen and (max-width: 991.98px) {
//   #divviupNavbar {
//     box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
//   }
// }

#home-hero {
  .btn {
    width: 320px;
    position: relative;

    i {
      position: absolute;
      left: 18px;
      top: 16px;
    }
  }
}

.highlight {
  background: #e8fcf8;
  text-align: center;
  padding: 20px 10px 10px;
  margin: 10px 0 20px;

  h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  p {
    font-size: 20px;
  }
}

#copyright-line {
  background-color: #292c37;
  background-repeat: repeat;
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar-floating {
  z-index: 1030;
}

.blog-date {
  font-size: 15px;
}

.get-involved-item {
  margin-bottom: 50px;

  form {
    button {
      display: block;
      margin-top: 10px;
      background: var(--teal-color) !important;
      border-color: var(--teal-color) !important;
    }
  }
}

header.cs-header {
  background-color: var(--primary-background-color);
}

body {
  background-color: var(--primary-background-color);
}

.no-br {
  white-space: nowrap;
}

a[name] {
  scroll-padding-top: 50px;
}

.navbar-brand {
  padding-top: 4px;
}

/* Mailchimp Form */

#mc-embedded-subscribe-form input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-right: 10px;
}
#mergeRow-gdpr {
  margin-top: 20px;
}
#mergeRow-gdpr fieldset label {
  font-weight: normal;
}
#mc-embedded-subscribe-form .mc_fieldset {
  border: none;
  min-height: 0px;
  padding-bottom: 0px;
}

#mc_embed_signup form {
  padding: 0 !important;
}

#mc_embed_signup {
  .content__gdpr p {
    margin-bottom: 10px;
  }
  input[type="radio"] {
    margin-right: 10px;
  }

  div#mce-responses {
    margin: 0 !important;
    padding: 0 !important;
  }
  .mc-field-group {
    min-height: auto !important;
  }

  #mce-success-response,
  #mc-embedded-subscribe-form div.mce_inline_error {
    /* Error message*/
    background-color: #fff !important;
    border: 2px solid var(--teal-color) !important;
    font-weight: bold !important;
    color: var(--teal-color) !important;
  }

  #mce-success-response {
    padding: 20px;
    width: 100%;
  }
}

.text-muted a {
  color: #787a80 !important;
  text-decoration-color: #787a80 !important;

  &:hover {
    color: #fff !important;
    text-decoration-color: var(--teal-color) !important;
  }
}

.email-field-container {
  // max-width: 400px;

  input {
    width: 400px;
    max-width: 100%;
  }
}

.isrg-mailchimp-form {
  label {
    display: block;
  }

  input.email {
    display: block;
    margin-bottom: 5px;
  }

  div.mce_inline_error {
    display: inline-block;
    margin-top: 10px;
  }

  .input-group {
    flex-direction: column;
  }

  .mc-field-group {
    margin-bottom: 20px;

    input.mce_inline_error {
      border-color: red !important;
    }

    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;

      li {
        input + label {
          display: inline;
        }
      }
    }
  }
}
