<section class="pt-lg-3 pb-4 text-white default-padding">
  <div class="container mb-lg-5 mb-4">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="h6 mb-2 text-uppercase text-white">
          Privacy, Enforced by Technology
        </h3>
        <h2 class="h1 text-white">How Divvi Up Works</h2>
      </div>
      <div class="col-sm-4 text-end align-self-center">
        <a class="btn btn-primary btn-prevent-overflow" href="/about"
          >Learn about Divvi Up</a
        >
      </div>
    </div>
  </div>

  <!-- Carousel -->
  <div class="container px-0">
    <div class="tns-carousel-wrapper tns-nav-outside mt-n4 ms-lg-n5">
      <div class="tns-outer" id="tns1-ow">
        <div
          class="tns-liveregion tns-visually-hidden"
          aria-live="polite"
          aria-atomic="true"
        ></div>
        <div id="tns1-mw" class="tns-ovh">
          <div class="tns-inner" id="tns1-iw">
            <div
              class="tns-carousel-inner pt-4 ps-lg-5 tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
              data-carousel-options='{
          "loop": false,
          "controls": false,
          "responsive": {
            "0": {
              "items": 1
            },
            "576": {
              "items": 2
            },
            "768": {
              "items": 3
            },
            "992": {
              "items": 5
            }
          }
        }'
              id="tns1"
              style="
                transition-duration: 0s;
                transform: translate3d(0%, 0px, 0px);
              "
            >
              <!-- Horizontal step item -->
              <div
                class="step pt-2 px-3 tns-item tns-slide-active"
                id="tns1-item0"
              >
                <div class="step-head mb-3">
                  <span class="step-indicator">01</span>
                  <span class="step-line"></span>
                </div>
                <div class="step-body">
                  <h3 class="h5 mb-2">A user-generated metric</h3>
                  <p class="mb-0">
                    Divvi Up works for any data that can be collected across a
                    population, like telemetry, survey results, or many other
                    scaled metrics collection use cases.
                  </p>
                </div>
              </div>

              <!-- Horizontal step item -->
              <div
                class="step pt-2 px-3 tns-item tns-slide-active"
                id="tns1-item1"
              >
                <div class="step-head mb-3">
                  <span class="step-indicator">02</span>
                  <span class="step-line"></span>
                </div>
                <div class="step-body">
                  <h3 class="h5 mb-2">Divide the metric</h3>
                  <p class="mb-0">
                    Metrics are fed into a library where they’re divided into
                    two shares (Divvied Up!). The shares are then encrypted
                    locally, before any data leaves the device.
                  </p>
                </div>
              </div>

              <!-- Horizontal step item -->
              <div
                class="step pt-2 px-3 tns-item tns-slide-active"
                id="tns1-item2"
              >
                <div class="step-head mb-3">
                  <span class="step-indicator">03</span>
                  <span class="step-line"></span>
                </div>
                <div class="step-body">
                  <h3 class="h5 mb-2">Two non-colluding servers</h3>
                  <p class="mb-0">
                    With two separate servers, each with only a partial share,
                    it's impossible to deduce the whole metric. After validating
                    the input, each server performs additional de-identification
                    and aggregation.
                  </p>
                </div>
              </div>

              <!-- Horizontal step item -->
              <div
                class="step pt-2 px-3 tns-item"
                id="tns1-item3"
                aria-hidden="true"
                tabindex="-1"
              >
                <div class="step-head mb-3">
                  <span class="step-indicator">04</span>
                  <span class="step-line"></span>
                </div>
                <div class="step-body">
                  <h3 class="h5 mb-2">Combine aggregates</h3>
                  <p class="mb-0">
                    Each server sends its partial aggregate metric to a
                    collector, which finalizes the privacy-preserving
                    computation of a wide array of aggregation functions (not
                    just sum).
                  </p>
                </div>
              </div>

              <div
                class="step pt-2 px-3 tns-item"
                id="tns1-item3"
                aria-hidden="true"
                tabindex="-1"
              >
                <div class="step-head mb-3">
                  <span class="step-indicator">05</span>
                </div>
                <div class="step-body">
                  <h3 class="h5 mb-2">Anonymized insight</h3>
                  <p class="mb-0">
                    App owners gain access to a useful array of aggregate
                    metrics to better understand their application or how users
                    interact with it.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
