<section id="home-hero" class="position-relative mb-5 pb-1 pt-6 pb-3 pt-sm-6">
  <div class="container pr-lg-0 default-padding">
    <div class="row no-gutters">
      <div
        class="col-md-5 align-self-center d-flex justify-content-lg-start justify-content-center mt-xl-n5 pt-lg-6 text-md-start text-center"
      >
        <div class="pb-3 pt-md-3 pb-md-3" style="max-width: 460px">
          <h1 class="text-white display-4 mb-lg-5">
            Divvi Up: A privacy-respecting system for aggregate statistics
          </h1>
        </div>
      </div>
      <div
        class="col-md-6 offset-md-1 align-self-center d-flex align-items-center justify-content-lg-center justify-content-center text-md-start text-center"
      >
        <div
          class="pb-3 pt-md-5 pb-md-3 text-center"
          style="max-width: 100%; width: 100%"
        >
          <iframe src="https://player.vimeo.com/video/689473982?h=c4b66c70f9&muted=1&autoplay=1&loop=1&autopause=0&" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
