<section id="home-hero" class="position-relative mb-5 pb-1 pt-6 pb-3 pt-sm-6">
    <div class="container pr-lg-0 default-padding">
        <div class="row no-gutters">
            <div class="col-md-5 align-self-center d-flex justify-content-lg-start justify-content-center mt-xl-n5 pt-lg-6 text-md-start text-center">
                <div class="pb-3 pt-md-3 pb-md-3" style="max-width: 460px">
                    <h1 class="text-white display-4 mb-lg-5">
                        Divvi Up: A privacy-respecting system for aggregate statistics
                    </h1>
                </div>
            </div>
            <div class="col-md-6 offset-md-1 align-self-center d-flex align-items-center justify-content-lg-center justify-content-center text-md-start text-center">
                <div class="pb-3 pt-md-5 pb-md-3 text-center" style="max-width: 100%; width: 100%;">
                    <iframe style="aspect-ratio:560/315" src="https://www.youtube.com/embed/ND-iyE9CyMw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>