<section class="invert-teal-container default-padding py-5 my-5">
  <div class="container">
    <h3 class="h6 mb-2 text-uppercase text-white">
      Cryptographically-guaranteed privacy
    </h3>
    <h2 class="h1 mb-lg-5 mb-4 text-white">
      Produce insights while protecting privacy
    </h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-8">
        <p class="mb-0">
          Divvi Up makes it possible to gain insights about your population of
          users without compromising individual privacy. Mitigate compliance
          risks, eliminate the need to store PII for telemetry, and respect your
          users’ privacy.
        </p>
        <div class="d-block d-sm-none"><br /></div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4 text-end align-self-center">
        <a class="btn btn-primary btn-prevent-overflow" href="/why"
          >Why you should Divvi Up</a
        >
      </div>
    </div>
  </div>
</section>
