    </main>

    <footer class="footer-white cs-footer pt-sm-5 pt-4 default-padding">
      <div class="container py-3">
        <div class="row">
          <div class="col-lg-5 offset-lg-0 col-md-8 col-sm-6 mb-sm-0 mb-4">

            <p>Divvi Up is a privacy-respecting metrics service ​​brought to you by the nonprofit Internet Security Research Group (ISRG), which operates the <a href="https://letsencrypt.org">Let’s Encrypt</a> and <a href="https://memorysafety.org">Prossimo</a> projects.</p>

            <br />
            <br />

            <!-- <ul class="nav nav- light flex-lg-column flex-sm-row flex-column">
              <li class="nav-item mb-2"> -->
                <a class="nav-link me-lg-0 me-sm-4 p-0 fw-normal" href="https://www.abetterinternet.org/privacy-policy" target="_isrg-privacy">Privacy Policy <i class="ci-external-link mt-n1 ms-2"></i></a>
              <!-- </li>
              <li class="nav-item mb-2"> -->
                <a class="nav-link me-lg-0 me-sm-4 p-0 fw-normal" href="https://www.abetterinternet.org/trademarks" target="_isrg-trademarks">Trademark Policy <i class="ci-external-link mt-n1 ms-2"></i></a>
              <!-- </li>
            </ul> -->


          </div>


          <div class="col-lg-3 offset-lg-4  col-md-4 col-sm-6 mb-lg-0 mb-4">

            <a class="d-inline-block mb-4" href="https://abetterinternet.org" target="_blank">
              <img src="/images/Brand Assets/isrg-logo-standard-cropped.png" id="footer-logo" alt="ISRG logo">
            </a>
            <p class="fs-xs text-light opacity-60">{{ .Site.Params.address_line_1}}<br />{{ .Site.Params.address_line_2}}</p>
            <p class="fs-xs text-light opacity-60">
              <p class="fs-xs text-light opacity-60">{{ i18n "footer_mailing" }}<br />
              <span class=" fs-xs text-light" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">PO Box 18666</span>,
                <span itemprop="addressLocality">Minneapolis</span>,
                <span itemprop="addressRegion">MN</span>
                <span itemprop="postalCode">55418-0666</span>,
                <span itemprop="addressCountry">USA</span>
              </span>
              </br>
            </p>
  </div>





        </div>
        <div class="row">
          <div class="d-flex align-items-flex-end align-items-sm-center justify-content-between py-1">
            <div class="fs-xs mt-4 pb-4 text-light">
              <a href="https://abetterinternet.org" target="_blank">{{ .Site.Params.copyrighthtml | safeHTML}}</a>
            </div>
            <!-- <div class="d-flex align-items-sm-center">
              <a class="d-flex justify-content-center align-items-center back-to-top-btn" href="#top" data-scroll="">
                <span class="d-sm-inline-block d-none text-light fs-sm me-3 mb-1 align-vertical">Back to top</span>
                <span class="btn-scroll-top position-static rounded show">
                  <i class="btn-scroll-top-icon ci-angle-up"></i>
                </span>
              </a>
            </div> -->
          </div>
        </div>
      </div>

    </footer>

    <script src="/createx-theme/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="/createx-theme/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/createx-theme/vendor/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="/createx-theme/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="/createx-theme/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <link rel="stylesheet" href="/createx-theme/vendor/tiny-slider/dist/tiny-slider.css" />
    <script src="/createx-theme/js/theme.min.js"></script>
</body>
