<body class="overflow-x-hidden">
  <!-- Page wrapper for sticky footer -->
  <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
  <main class="cs-page-wrapper">
    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <header
      class="
        cs-header
        navbar navbar-expand-lg navbar-light navbar-sticky navbar-floating
      "
    >
      <div class="container px-0 px-xl-3">
        <a
          href="/"
          id="divvi-logo-nav"
          class="navbar-brand order-lg-1 me-lg-5 me-0 pr-lg-2"
        >
          <img
            src="/images/divviup-logo/White/svg/Divviup - White logo - Medium-cropped.svg"
            alt="Divvi Up Logo"
            width="110"
            id="logo-white"
          />
          <img
            src="/images/divviup-logo/Full color/svg/Divviup - Full color logo - Medium-cropped.svg"
            alt="Divvi Up Logo"
            width="110"
            id="logo-color"
          />
        </a>
        <div class="d-flex align-items-center order-lg-3">
          <a
            href="/get-involved"
            class="btn btn-primary d-sm-inline-block d-none ms-4"
          >
          Get Involved
          </a>
          <button
            class="navbar-toggler ms-1 me-n3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#divviupNavbar"
            aria-expanded="false"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse order-lg-2" id="divviupNavbar">
          <ul class="navbar-nav me-auto text-nowrap">
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/about"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >About</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/about">About Divvi Up</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/about#policies">Policies</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/about#open-source">Open Source Repositories</a>
                </li>
                <li>
                  <a class="dropdown-item" target="_isrg" rel="noopener noreferrer nofollow" href="https://abetterinternet.org">Internet Security Research Group <i class="ci-external-link mt-n1 ms-2"></i></a>
                </li>
                <li>
                  <a class="dropdown-item" target="_isrg-careers" rel="noopener noreferrer nofollow" href="https://abetterinternet.org/careers">Careers <i class="ci-external-link mt-n1 ms-2"></i></a>
                </li>
                <li>
                  <a class="dropdown-item" target="_isrg-ar" rel="noopener noreferrer nofollow" href="https://abetterinternet.org/annual-reports">Annual Reports <i class="ci-external-link mt-n1 ms-2"></i></a>
                </li>

              </ul>
            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/why">Why</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>

            <li class="nav-item d-sm-none d-block">
              <a
                href="/get-involved"
                class="btn btn-sm btn-divvi-primary m-3"
              >
              Get Involved
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
